<h1>Your Coaches</h1>
<body>

<ul>
<% @coaches.each do |c|  %>
<li><%=  c.bio %><br></li>
<li><%=  c.diet.name %><br></li>
<li><%=  c.diet.description %><br></li>

</ul>
<% end %>
</body>


<link rel="stylesheet" href="main.css"

<style>
h1 {
  color: cadetblue;
  font-family: impact;
  font-size: 280%;
  text-align: center;
}

body{
    color: cadetblue;
    font-family: impact;
    font-size: 160%;
  text-align: center;
  background-color: ;

}