@import "custom";
@import "~bootstrap/scss/bootstrap";

<style>
h1 {
  color: cadetblue;
  font-family: impact;
  font-size: 280%;
  text-align: center;
}

body{
    color: cadetblue;
    font-family: impact;
    font-size: 160%;
  text-align: center;
  background-color: ;

}