<h1> The Available Diets</h1>
<body>
<ol>
<%diets.each do |d| %>
    <li><%=d.name   %></li>
    <li><%=d.bio  %></li>
<% end %>

</ol>
</body>


</body>

<style>
h1 {
  color: cadetblue;
  font-family: impact;
  font-size: 280%;
  text-align: center;
}

body{
    color: cadetblue;
    font-family: impact;
    font-size: 160%;
  text-align: center;
  background-color: ;

}