


       <h1> <%= @diet.name %></h1>

       <h3><%= @diet.description %><br></h3>

       
       <h4> __________________________________________________________</h4><br>

        <% @diet.recipes.each do |recipe| %>

            <label> Recipe Name: </label>

            <%= link_to recipe.name, recipe.url, target: "_blank" %>

           <p> <img src=<%= recipe.img %> height='350px' width='350px'></p>

           
        
        <% end %>
    
   





   
    
