<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
  
  <header class= "header-site"> 
        <h1 id="title">
        <span id="outfit-link">Coaches</span> |
            <span id="add-outfit-link">Diets</span> |
            <span id="all-clothes-link" link_to '/recipes/index '>Recipes</span> |
            <span id="clothes-link">Workouts</span>
        
        
            
        </h1>
        
    </header> 

  <body>

<style>
  h1 {
    color: steelblue;
    font-family: impact;
    font-size: 250%;
    text-align: center;
  }

  h2 {
    color: goldenrod;
    font-family: impact;
    font-size: 100%;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 80px;
    font-style: italic;
  }

  h3 {
    color: rosybrown;
    font-family: arial black;
    font-size: 120 %;
    text-align: left;
  }
  h4 {
      color: burlywood
      font-family: arial black;
      font-size: 190% ;
      text-align: center;
     
  }

  h5 {
      color: olive;
      display: inline-block;
    
  }

  #title {
    font-size: 100%;
    color: indianred;
      
    font-size: 100%;
    margin: 3;
    padding: 1;
  }


  body{

    font-weight: bold;
      color: darkseagreen;
      font-family: verdana;
      font-size: 118%;
    text-align: left;
    background-color: whitesmoke ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 100px;
  }

  nav {
    list-style-type: none ;
    margin: 3 ;
    padding: 1 ;
  }

  p {
    text-align: center;
    font-size: 100% ;
  }

div class="green text" {
  color: olivedrab;
}

.coach {
  color: darksalmon;
  font-family: verdana;
  font-size: 100%;
  display: inline-block;
}


.button{
  background-color: gainsboro;
  color: cadetblue;
  width: 150px;
  height: 65px;
  font-size: 17px;
  font-family: impact;
  border: 3px solid powderblue;
  border-radius: 8px;



</style>
    <%= yield %>
  </body>
  </html>
